{% load static %}

<head>
    <meta http-equip="Content_type" content="text/html; charset = utf-8">
    <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Морской бой</title>
</head>
<div style="
    width:100%;
    display: flex;
    justify-content: center;
    float:center; 
">
    <h1>Sea battle</h1>
</div>
{% include './includes/messages.html' %}
<div class="minor-text">
    <h2 align="center">username: {{user}}</h2>
    <h2 align="center" id="message-hint">Lobby</h2>
</div>
<div class="block">
    <div id="field-user" class="field"></div>
</div>
<div class="block">
    <div class="menu">
        <form action="#" method="post" class="but">
            {% csrf_token %}
            <input type="submit" name="find_opponent" value="find_opponent" style="width:120px;height:30px;">
        </form>
        <form action="#" method="post" class="but">
            {% csrf_token %}
            <input type="submit" name="shuffle" value="shuffle" style="width:120px;height:30px;">
        </form>
    </div>
</div>
<script>
class Field {
    constructor(field, role) {
        this.field = Array(field)[0];
        this.role = role;

        var count = 0,
            userCount = 0;
    }

    render() {
        var fieldBlock = document.getElementById('field-' + this.role)
        for (let i = 0; i < this.field.length; i++) {
            for (let j = 0; j < this.field[i].length; j++) {
                var block = document.createElement('div');
                if (this.field[i][j] === "1") {
                    block.classList.add('sheep');
                };
                fieldBlock.appendChild(block)
            }
        }
    }
}

let userField = {{user_field}};


var gameUser = new Field(userField, 'user')
gameUser.render();

</script>